@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Open+Sans:ital@1&family=PT+Sans+Caption&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=PT+Sans+Caption&family=Roboto&display=swap');
body {
    background: url("Images/Background.png") no-repeat fixed center/100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 86vh;
    flex-wrap: wrap;
    align-items: center;
}

#quizArea {
    display: flex;
    flex-direction: column;
    width: 56vw;
    height: 56vh;
    justify-content: space-around;

}

.card {
    background-color: #d902ee;
    color: #ffd79d;
    border-radius: 20px;
    height: 12vh;
    width: 12vw;
    text-align: center;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    transform-style: preserve-3d;
    perspective: 1000px;
}

#first-row, #second-row, #third-row{
    height: 46vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.front {
    width: 12vw;
}

.card:hover {
    height: 16vh;
    width: 16vw;
    transition: all 0.3s ease;
    cursor: pointer;
}

h1 {
    font-family: 'PT Sans Caption', sans-serif;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.front {
    position: absolute;
    backface-visibility: hidden;
}
.card:active{
    transform: rotateY(180deg);
    transition: all .5s ease;
}
